/* general styles */

@font-face {
  font-family: 'dosisregular';
  src: url('/font/dosis-regular-webfont.woff2') format('woff2'),
    url('/font/dosis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  overflow: hidden;
}

body {
  background-color: white;
}

/* intro screen styles */

#game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#lets-play {
  width: 15%;
  height: auto;
}

#bottom-left-book {
  width: 15%;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
}

#bottom-right-book {
  width: auto;
  height: 45%;
  position: fixed;
  right: 0;
  bottom: 0;
}

#top-left-book {
  width: 15%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
}

#top-right-book {
  width: 15%;
  height: auto;
  position: fixed;
  right: 0;
  top: 0;
}

#logo-start {
  width: 60%;
  height: auto;
  z-index: 2;
  padding: 2% 0;
}

#start-button {
  width: 20%;
  height: auto;
  border: none;
  background-color: white;
  cursor: pointer;
}

#start-button > img {
  width: 100%;
  height: auto;
}

/* loading screen styles */

#game-loading {
  display: none;
  justify-content: center;
  align-items: center;
}

#loading-screen-img {
  width: 100%;
  height: auto;
}

#logo-loading {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  height: auto;
  padding: 10px;
}

/* game screen styles */

#gradient {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#game-screen-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#game-screen {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

#timer-container,
#points-container {
  font-family: 'dosisregular';
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10%;
  padding: 10px;
  margin: 10px 0 10px 100px;
  width: fit-content;
  height: auto;
}

#timer {
  width: 200px;
  height: 50px;
  margin: 0px auto;
  margin-bottom: 20px;
}

#game-board {
  width: 900px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2.5%;
  margin: 22.5px auto 0 auto;
}

.card {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-left: 22px;
  margin-top: 21px;
  border-radius: 5%;
  cursor: pointer;
}

.card.matched {
  background-color: rgba(255, 255, 255, 0.5);
}

.card:hover {
  outline: solid 3px lightgray;
}

.card.matched:hover {
  outline: none;
  cursor: auto;
}

.card.clicked {
  outline: 2px solid #76e6ff;
}

.card.incorrect {
  outline: 2px solid #ffaae3;
}

/* game end screens styles */

#game-end {
  display: none;
}

#win-game-end {
  display: none;
}

#lose-game-end {
  display: none;
}

#end-bottom-left {
  width: 15%;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
}

#end-bottom-right {
  width: auto;
  height: 45%;
  position: fixed;
  right: 0;
  bottom: 0;
}

#end-top-left {
  width: 15%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
}

#end-top-right {
  width: 15%;
  height: auto;
  position: fixed;
  right: 0;
  top: 0;
}

#restart-button,
#try-again-button {
  width: 40%;
  height: auto;
  border: none;
  background-color: white;
  cursor: pointer;
}

#restart-button > img,
#try-again-button > img {
  width: 50%;
  height: auto;
}

#win-game-end,
#lose-game-end {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#win-game-end > img,
#lose-game-end > img {
  width: 45%;
  height: auto;
  padding: 40px 0 30px 0;
}
